@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.search-button {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 100px;
    height: 5%;
    color: #fff;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    mix-blend-mode: screen;
    backdrop-filter: blur(20px);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    &:hover {
        background-color: rgba(94, 93, 93, 0.35);
    }
}

@media (min-width: 700px) {
    .search-button {
        visibility: hidden;
    }
}